<!--===============================================-->
<!--    Footer-->
<!--===============================================-->
<div class="py-5 text-center text-dark" style="background-color: #ffdf6c">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-3">
          <a href="index.html"><img class="fancynavbar-brand-img" src="assets/i/logo-mark.svg" alt="" width="50"
              height="50"
              data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}'
              style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0)" /></a>
        </div>
        <div><small>© 2023 ORTIZ&amp;CO. LLC</small></div>
        <div>
          <small><a class="text-dark text-uppercase"
              href="mailto:events@ortizandco.com"><strong>events@ortizandco.com</strong></a>
            • 407-502-6020</small>
        </div>
      </div>
      <div class="col-md-12 text-center mt-5">
        <div class="row justify-content-center">
          <div class="col-12 text-uppercase mb-3"><small>Our Proud affiliations and memberships</small></div>
          <div class="col-auto text-center">
            <a href="https://www.iata.org/"><img width="100" src="assets/i/iata.png"></a>
          </div>
          <div class="col-auto text-center">
            <a href="https://www.iaee.com/"><img class="mt-3" width="300" src="assets/i/iaee2.png"></a>
          </div>
          <div class="col-auto text-center">
            <a href="https://www.esca.org/"><img class="mt-3" height="50" src="assets/i/esca.png"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>