<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/lib/loaders.css/loaders.css.js"></script>
<script src="assets/js/stickyfill.min.js"></script>
<script src="assets/lib/is_js/is.min.js"></script>
<script src="assets/lib/jtap/jquery.tap.js"></script>
<script src="assets/js/rellax.min.js"></script>
<script src="assets/lib/fancybox/jquery.fancybox.min.js"></script>
<script src="assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js"></script>
<script src="assets/js/theme.js"></script>
