<div
  class="media mb-5 card-service"
  data-zanim-timeline="{}"
  data-zanim-trigger="scroll"
>
  <div class="media-body">
    <div class="overflow-hidden">
      <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>
        Site Selection & Venue Management
      </h4>
    </div>
    <div class="overflow-hidden">
      <p
        class="mb-0 text-dark"
        data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'
      >
        We understand that choosing the perfect Destination and Venue for your
        event can be challenging and somewhat nerve-racking. Afterall … isn’t it
        always about location, location, location?!
      </p>
      <p class="pt-3">
        <a
          href="service-1.html"
          class="btn btn-warning btn-sm btn"
          data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'
          >Learn More</a
        >
      </p>
    </div>
  </div>
</div>
<div
  class="media mb-5 card-service"
  data-zanim-timeline="{}"
  data-zanim-trigger="scroll"
>
  <div class="media-body">
    <div class="overflow-hidden">
      <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>
        Event & Meeting Management
      </h4>
    </div>
    <div class="overflow-hidden">
      <p
        class="mb-0 text-dark"
        data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'
      >
        Ortiz & Co. is prepared to support your teams with full event & meeting
        management. From managing the entire program to a-la-carte services, we
        have you covered.
      </p>
      <p class="pt-3">
        <a
          href="service-2.html"
          class="btn btn-warning btn-sm btn"
          data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'
          >Learn More</a
        >
      </p>
    </div>
  </div>
</div>
<div
  class="media mb-5 card-service"
  data-zanim-timeline="{}"
  data-zanim-trigger="scroll"
>
  <div class="media-body">
    <div class="overflow-hidden">
      <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>
        Virtual & Hybrid Production
      </h4>
    </div>
    <div class="overflow-hidden">
      <p
        class="mb-0 text-dark"
        data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'
      >
        Face-to-face meetings and interactions will continue to be valuable and
        necessary, however we’ve also learned that virtual is not going away and
        can be just as vital and advantageous to our day-to-day relationships
        and business successes.
      </p>
      <p class="pt-3">
        <a
          href="service-3.html"
          class="btn btn-warning btn-sm btn"
          data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'
          >Learn More</a
        >
      </p>
    </div>
  </div>
</div>
<div
  class="media mb-5 card-service"
  data-zanim-timeline="{}"
  data-zanim-trigger="scroll"
>
  <div class="media-body">
    <div class="overflow-hidden">
      <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>
        Virtual & Hybrid Production
      </h4>
    </div>
    <div class="overflow-hidden">
      <p
        class="mb-0 text-dark"
        data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
      <p class="pt-3">
        <a
          href="/"
          class="btn btn-warning btn-sm btn"
          data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'
          >Learn More</a
        >
      </p>
    </div>
  </div>
</div>
